brotli==1.1.0
cryptography==45.0.5
Cython==3.1.2
dl==0.1.0
docutils==0.21.2
Flask==3.1.1
flask_login==0.6.3
ics==0.7.2
lxml==6.0.0
numpy==2.3.1
protobuf==6.31.1
pyOpenSSL==25.1.0
toml==0.10.2
tornado==6.5.1
Werkzeug==3.1.3
